modules:
- gspread
- oath2client
- time
- tqdm

other requirements:
- empty google sheet with 6 columns labeled as such:
    - Name
    - Number
    - Area
    - Building/Villa
    - Location
    - Status